<h1>{{ "CLIENTS.TITLE" | translate }}</h1>
<div class="row" *ngIf="!selectedClient">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="client-search">{{ "DEFAULT.SEARCH.LABEL" | translate }}</label>
                <div class="input-group">
                    <input 
                        id="client-search" 
                        class="form-control" 
                        type="text" 
                        name="search"
                        placeholder="{{ 'DEFAULT.SEARCH.PLACEHOLDER' | translate }}"
                        [(ngModel)]="search" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">{{ "DEFAULT.BUTTON.SEARCH" | translate }}</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<pw-table [data]="clients | pwfilter:searchObj" [header]="header" *ngIf="!selectedClient" (clickRow)="selectClient($event)"></pw-table>