<ul class="nav navbar-nav">
    <template ngFor let-nav [ngForOf]="navs">
    <li routerLinkActive="active">
        <a [routerLink]="nav.path">{{ nav.data.title | translate}}</a>
    </li>
    </template>
</ul>