<header class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <pw-nav></pw-nav>
        </div>
    </nav>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>