<table class="pw-table table">
    <thead class="pw-table__thead">
        <tr class="pw-table__tr">
            <th *ngIf="lp.show">
               {{ lp.name }}
            </th>
            <template ngFor let-th [ngForOf]="header">
            <th *ngIf="th.show" width="{{th.width}}">
                {{ th.name | translate }}
            </th>
            </template>
        </tr>
    </thead>
    <tbody class="pw-table__tbody">
        <tr class="pw-table__tr" 
            *ngFor="let td of data; let i = index" 
            (click)="clickOnRow(td)">
            <td *ngIf="lp.show">
                {{ i+1 }}
            </td>
            <template ngFor let-th [ngForOf]="header">
            <td *ngIf="th.show">
                {{ td[th.key] }}
            </td>
            </template>
        </tr>
    </tbody>
    <tfoot class="pw-table__tfoot">
        
    </tfoot>
</table>