<h1>{{ "PRODUCTS.TITLE" | translate }}</h1>
<div class="row">
    <div class="col-xs-12">
        <pw-table 
            [data]="products | pwfilter:searchObj" 
            [header]="header" 
            (clickRow)="selectProduct($event)">
        </pw-table>
    </div>
</div>