<div class="detail-client">
    <form>
        <div class="form-group">
            <label>Nazwa</label>
            <input type="text" [(ngModel)]="client.name" class="form-control" name="name">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ "CLIENTS.STREET" | translate }}</label>
                    <input [(ngModel)]="client.street" class="form-control" name="street">
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>{{ "CLIENTS.ZIP" | translate }}</label>
                        <input type="text" [(ngModel)]="client.zip" class="form-control" name="zip">
                    </div>
                    <div class="form-group col-md-8">
                        <label>{{ "CLIENTS.CITY" | translate }}</label>
                        <input type="text" [(ngModel)]="client.city" class="form-control" name="city">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ "CLIENTS.PESEL" | translate }}</label>
                    <input [(ngModel)]="client.pesel" class="form-control" name="pesel">
                </div>
                <div class="form-group">
                    <label>{{ "CLIENTS.NIP" | translate }}</label>
                    <input [(ngModel)]="client.nip" class="form-control" name="nip">
                </div>
                <div class="form-group">
                    <label>{{ "CLIENTS.BANKACCOUNT" | translate }}</label>
                    <input [(ngModel)]="client.bankAccount" class="form-control" name="bankAccount">
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-danger" (click)="cancel()">{{ "DEFAULT.BUTTON.CANCEL" | translate }}</button>
        <button type="button" class="btn btn-success" (click)="save()">{{ "DEFAULT.BUTTON.SAVE" | translate }}</button>
    </form>
</div>